* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

body {
    background-color: #ededed;
    background-image: url("bg-image.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

}

.titulo {
    text-align: center;
}

h1, h3 {
    color: #00bfff;
    text-transform: uppercase;
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5em;
    margin-top: 0;
}

select {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    background-color: #00bfff;
    color: white;
    box-shadow: 0px 0px 10px #00bfff;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

option {
  margin: 30px;
  background: #5b5a5a;
  padding: 20px;

}

.boton {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #fea066;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #fc731e;
}

#resultado {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #00bfff;
    margin-top: 20px;
    width: 60%;
}