
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #664aff;
}

.search-box {
    position: relative;
    height: 60px;
    width: 60px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin-bottom: -200px;
}

.search-box.active {
    width: 250px;

}

.search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: #fff;
    font-size: 18px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    
}

.search-box .search-btn {
    height: 50px;
    width: 50px;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: #664aff;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}



.header {
    position: fixed;
    top: 0;
    margin-top: 100px;
    margin-left: 0px;
}




.box {
    position: relative;
    height: 60px;
    width: 60px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin-top: -160px;
}

.box.active {
    width: 250px;

}

.box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: #fff;
    font-size: 18px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    
}

.box .search-btn-box {
    height: 50px;
    width: 50px;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: #664aff;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}

.modal {
    background-color: ;
  }

button {
    border-radius: 30px;
    height: 50px;
    width: 100px;
    border: none;
    margin-right: 20px;
}

button:hover{
    background: #fdff72;
    cursor: pointer;
    transition: 0.5s;
    scale: 1.1;
}

button:active{
    background: red;
}

#mostrar{
    background: none;
    border: none;
    text-align: center;
    font-size: 25px;
    width: 100vh;
    color: black;
    
}

.buttons{
  
}

.boton {
    margin-top: 20px;
}


@media (max-width: 1000px){
   h2 {
    margin-top: -10px;
   }
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        margin-left: 35px;
    }

    .box{
        margin-bottom: -100px;
    }
    .search-box{
        margin-top: -70px;
    }
    .header{
        margin-top: 20px;
    }
    
}