*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: 
    linear-gradient(90deg, rgba(59, 189, 167, 0.7), rgba(32, 42, 42, 0.4)), url();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#miElemento{
    height: 100vh;
    /* background-color: blue; */
    z-index: -10;
    transition: 3s;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpWVJuwj0_EBh3kQ4LMGDXV8Eoscn0E43Keg&usqp=CAU);
   
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}

