*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
    text-align: center;
}

#background {
    background: #92ba93;
    height: 100vh;
}

#titulo {
    padding-top: 150px;
    margin-bottom: -240px;
    text-align: center;
    font-size: 3em;
    color: #353a36;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.select {
    /* width: 200px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px ; */

    padding: 10px ;
    color: #333333;
    background-color: #eee;
    border: 1px solid #dddd;
    cursor: pointer;
    border-radius: 5px ;
    width: 200px;
    

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;

    text-shadow: ;
    letter-spacing: 8px;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 1px 1px 5px px ;
}

.select option {
    background: rgb(118, 118, 118);
    padding: 20px;
}


.boton {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(54, 181, 12, 0.4));
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 10px;
    margin: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    transition: background 0.3s ease; /* Agrega una transición de fondo */
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
    scale: 1.5;
}

.boton:hover {
    background: linear-gradient(rgba(177, 83, 15, 0.4), rgba(56, 34, 201, 0.4));
}

.boton:active {
    transform: scale(0.9); /* Utiliza una unidad de medida para la escala */
}

b {
   font-size: 12px;
    background: none;

}