*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: 
    linear-gradient(90deg, rgba(59, 189, 167, 0.7), rgba(32, 42, 42, 0.4)), url();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

