*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
 }


 :root{
	--bg-color: #020312;
	--text-color: #fff;
	--main-color: #eb4a4a;
	--second-color: gray;
	--other-color: #12141c;
	--h1-font: 5.2rem;
	--h2-font: 3.5rem;
	--p-font: 1.1rem;
}

/* ------------------------------------------------- */
/* HEADER : NAVBAR ROTULO DE INDICE  */
/* ------------------------------------------------- */

#header{
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: transparent;
	padding: 22px 16%;
	border-bottom: 1px solid transparent;
	transition: all .40s ease;
}


/* modificacion 7/1  */
.logo h2{
	font-size: var(--h2-font);
}

.logo p{
	color: var(--main-color);
}

.logo img{
	width: 205px;
	height: auto;
}
.navbar{
	display: flex;
}
.navbar a{
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 600;
	padding: 10px 25px;
	margin: 0 2px;
	border-radius: 0.5rem;
	transition: all .40s ease;
    list-style: none;
}

.navbar a:hover{
	background: var(--main-color);
	color: var(--text-color);
}
#menu-icon{
	font-size: 36px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section{
	padding: 160px 16% 90px;
}

/* ------------------------------------------------- */
/* FIN HEADER   */
/* ------------------------------------------------- */


body{
	background: var(--bg-color);
	color: var(--text-color);
}

 .contenedor{
    display: grid;
    grid-template-columns: .7fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-auto-rows: 550px;
    padding: 5px;
    grid-gap: 10px;
    
    margin-top: 60px;
    width: 100%;
    height: 100%;

 }




 /* para que las imagenes ocupen todo el espacio del modulo */


.gallery_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
 }

 /* rotulo vertical */
.gallery_item:nth-child(1){
    /* border: 5px solid red; */
    grid-column-start: span 1;
    grid-row-start: span 4;
    background: #12141c;
    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    text-align: center;
    font-size: ;
}

/* contenedor del video */
.gallery_item:nth-child(2){
    /* border: 5px solid green; */
    grid-column-start: span 2;
    grid-row-start: span 1;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 20px;
}

/* el video */
.gallery_item:nth-child(2) iframe{
    width: 100%;
    height: 100%;
    }
    /* las imagenes a partir del 3 */
    .gallery_item:nth-child(3){
    
    /* border: 5px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.gallery_item:nth-child(4){
    /* border: 5px solid rgb(255, 234, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    }
    
    .gallery_item:nth-child(5){
    /* border: 5px solid rgb(219, 6, 202); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    }
    .gallery_item:nth-child(6){
    /* border: 5px solid rgb(52, 132, 120); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    }
    
    .gallery_item:nth-child(7){}
    .gallery_item:nth-child(8){}
    .gallery_item:nth-child(9){}

    @media (max-width: 970px){
        /* Titulo y descripcion */
        .gallery_item:nth-child(1){
        grid-column-start: span 3;
        grid-row-start: span 1;
        }
        /* video */
        .gallery_item:nth-child(2){
            grid-column-start: span 3;
            grid-row-start: span 2;
        }
        /* todas las imagenes */
        .gallery_item:nth-child(3){
            grid-column-start: span 3;
            grid-row-start: span 1;
        }

        .gallery_item:nth-child(4){
            grid-column-start: span 3;
            grid-row-start: span 1;
        }
        .gallery_item:nth-child(5){
            grid-column-start: span 3;
            grid-row-start: span 1;
        }
        .gallery_item:nth-child(6){
            grid-column-start: span 3;
            grid-row-start: span 1;
        }
    }