body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgb(58, 96, 140);
    font-family: sans-serif;
}

input{
    text-align: center;
    height: 50px;
    font-size: 2em;
    border-radius: 30px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
    margin-top: 30px;
    font-size: 1em;
    border-radius: 20px;
    border: none;
    height: 50px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    background: rgb(30, 52, 77);
    color: #fff;
}
button:hover {
    border: 1px solid black;
    background: rgb(58, 96, 140);;
    color: black;
}

.resultado {
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
  }