body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  h1{
    text-align: center;
  }

  form {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #notes-container {
    background-color: #fff;
    padding: 10px;
  }