* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
 }


.contenedor {
    width: 90%;
    max-width: 800px;
    margin: auto; /*para centrar la pagina*/
    margin-bottom: 50px;
}

/* ------------------------- */
/* HEADER */
/* ------------------------- */

/* le damos espacio al padding */
header {
    padding: 40px 0;
}

/* el logo es el titulo y parrafo, solo lo centramos y damos espacio de margin abajo */
header .logo {
    text-align: center;
    margin-bottom: 40px;
}


/* le damos un color al parrafo distinto al titulo */
header .logo p {
    color: #9B9B9B;
}
    
/* Ahora seleccionamos el contenedor del buscador y centramos con flex */
header form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
    
    
    
/* ahora seleccionamos al buscador */
header .barra-busqueda {
    width: 70%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
}

/* seleccionamos al contenedor de las categorias y centramos con flex */
header .categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    
    /* seleccionamos los enlaces de las categorias y los posicionamos*/
header .categorias a {
    color: #9B9B9B;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}

/* selecciono especificamente al activo de "Todos" que se vea negrita*/
header .categorias a.activo {
    color: #000;
}

/* ------------------------- */
/* Grid IMAGENES utilizamos una libreria o framework llamada MUURI*/
/* ------------------------- */

.grid {
    position: relative;
    width: 100%;
    /* ESTAS 2 PROPIEDADES DE ABAJO SE COMBINAN CON JS, para que al actualizar la pagina aparescan todas juntas con transicion de opacidad */
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}

/* CREAMOS ESTO PARA JS PARA QUE FUNCIONE */
.grid.imagenes-cargadas {
    opacity: 1; /*PARA QUE APARESCAN LAS IMAGENES */
}


/* seleccionamos el contenedor item que contiene todas las imagenes */
.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	/* utilizo calc, que es calcular el 33% de ancho menos 20px  para que entren 3 imagenes enfilados*/
	width: calc(33.333333% - 20px); 
}
/* esto lo pide MUURI el contenido mas cerca de las imagenes sea relative */
.grid .item-contenido {
	position: relative;
}
/* seleccionamos las imagenes especificamente */
.grid .item img {
	width: 100%;
	cursor: pointer;
	/* sacar el margen por defecto que tiene las imagenes */
	vertical-align: top; 
}