* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* variables */
:root{
	--bg-color: #020312;
	--text-color: #fff;
	--main-color: #eb4a4a;
	--second-color: gray;
	--other-color: #12141c;
	--h1-font: 5.2rem;
	--h2-font: 3.5rem;
	--p-font: 1.1rem;
}

body {
    background: var(--bg-color);
	color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
}



/* ------------------------------------------------- */
/* HEADER : NAVBAR ROTULO DE INDICE  */
/* ------------------------------------------------- */

#header{
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 16%;
	border-bottom: 1px solid transparent;
	transition: all .40s ease;
}


/* modificacion 7/1  */
.logo img{
	width: 205px;
	height: auto;
}
.navbar{
	display: flex;
}
.navbar a{
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 600;
	padding: 10px 25px;
	margin: 0 2px;
	border-radius: 0.5rem;
	transition: all .40s ease;
    list-style: none;
}

.navbar a:hover{
	background: var(--main-color);
	color: var(--text-color);
}
#menu-icon{
	font-size: 36px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section{
	padding: 160px 16% 90px;
}

/* ------------------------------------------------- */
/* FIN HEADER   */
/* ------------------------------------------------- */





/* ------------------------------------------------- */
/* HOME (TU NOMBRE COMPLETO Y PROFESION )*/
/* ------------------------------------------------- */
.home{
	height: 100vh;
	width: 100%;
	position: relative;
	background: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
    /* margin-left: 300px; */
}
.home-text h1{
	margin: 20px 0;
	font-size: var(--h1-font);
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: 2px;

}


span{
	color: var(--main-color);
}
.home-text h4{
	color: var(--main-color);
	font-size: 24px;
	font-weight: 600;
}
.home-text h3{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 3rem;
}

.btn{
	display: inline-block;
	padding: 14px 40px;
	border-radius: 0.5rem;
	font-size: 17px;
	font-weight: 500;
	background: var(--main-color);
	color: var(--text-color);
	border: 1px solid var(--main-color);
	transition: all .40s ease;
}
.btn:hover{
	transform: scale(1.01) translateY(-5px);
	background: transparent;
	border: 1px solid var(--main-color);
}

/* ------------------------------------------------- */
/* FIN HOME */
/* ------------------------------------------------- */




a {
    text-decoration: none;
 }


.contenedor {
    width: 90%;
    max-width: 800px;
    margin: auto; /*para centrar la pagina*/
    margin-bottom: 50px;
}

/* ------------------------- */
/* HEADER */
/* ------------------------- */

/* le damos espacio al padding */
header {
    padding: 40px 0;
}

/* el logo es el titulo y parrafo, solo lo centramos y damos espacio de margin abajo */
header .logo {
    text-align: center;
    margin-bottom: 40px;
}


/* le damos un color al parrafo distinto al titulo */
header .logo p {
    color: #9B9B9B;
}
    
/* Ahora seleccionamos el contenedor del buscador y centramos con flex */
header form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
    
    
    
/* ahora seleccionamos al buscador */
header .barra-busqueda {
    width: 70%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
}

/* seleccionamos al contenedor de las categorias y centramos con flex */
header .categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    
    /* seleccionamos los enlaces de las categorias y los posicionamos*/
header .categorias a {
    color: #9B9B9B;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}

/* selecciono especificamente al activo de "Todos" que se vea negrita*/
header .categorias a.activo {
    color: var(--main-color);
}

/* ------------------------- */
/* Grid IMAGENES utilizamos una libreria o framework llamada MUURI*/
/* ------------------------- */

.grid {
    position: relative;
    width: 100%;
    /* ESTAS 2 PROPIEDADES DE ABAJO SE COMBINAN CON JS, para que al actualizar la pagina aparescan todas juntas con transicion de opacidad */
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}

/* CREAMOS ESTO PARA JS PARA QUE FUNCIONE */
.grid.imagenes-cargadas {
    opacity: 1; /*PARA QUE APARESCAN LAS IMAGENES */
}


/* seleccionamos el contenedor item que contiene todas las imagenes */
.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	/* utilizo calc, que es calcular el 33% de ancho menos 20px  para que entren 3 imagenes enfilados*/
	width: calc(33.333333% - 20px); 
}
/* esto lo pide MUURI el contenido mas cerca de las imagenes sea relative */
.grid .item-contenido {
	position: relative;
}
/* seleccionamos las imagenes especificamente */
.grid .item img {
	width: 100%;
	cursor: pointer;
	/* sacar el margen por defecto que tiene las imagenes */
	vertical-align: top; 
}







